body {
    background-color: #eee;
    font-family: 'proxima_nova_rgregular';
}

.main {
    width: 900px;
    margin: 80px auto;
}

.heading {
    margin-bottom: 60px;
}

.page-logo {
    display: block;
    width: 175px;
    height: 20px;
    margin: 0 auto;
    background-image: url('../img/ka-logo.png');
    background-size: contain;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    color: rgb(151, 174, 55);
    font-size: 2.25em;
    letter-spacing: 4px;
}

.row {
    margin-bottom: 20px;
}

.row::before, .row::after
.card::before, .card::after {
    display: table;
    content: "";
    line-height: 0;
}

.row::after, .card::after {
    clear: both;
}

.card {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 440px;
    height: 285px;
    margin-left: 20px;
    margin-bottom: 20px;

    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);

    background-color: #fff;
    overflow: hidden;
}

.card:first-child {
    margin-left: 0;
}

.card:hover {
    border: 1px solid;
    cursor: pointer;
}

.card-katex:hover {
    border-color: rgb(22, 142, 133);
}

.card-live-editor:hover {
    border-color: rgb(74, 195, 199);
}

.card-perseus:hover {
    border-color: rgb(227, 101, 89);
}

.card-react-components:hover {
    border-color: rgb(60, 68, 87);
}

.card-snippets:hover {
    border-color: rgb(217, 174, 90);
}

.card-khan-api:hover {
    border-color: rgb(164, 192, 72);
}

.card-tiny-query:hover {
    border-color: rgb(126, 116, 156);
}

.icon {
    float: left;
    box-sizing: border-box;
    width: 95px;
    margin-left: 25px;
}

.logo {
    width: 95px;
    height: 95px;
    margin-top: 40px;
    border-radius: 50%;
    background-size: contain;
}

.logo-katex {
    background-image: url('../img/katex.png');
}

.logo-live-editor {
    background-image: url('../img/live-editor.png');
}

.logo-perseus {
    background-image: url('../img/perseus.png');
}

.logo-react-components {
    background-image: url('../img/react-components.png');
}

.logo-snippets {
    background-image: url('../img/snippets.png');
}

.logo-khan-api {
    background-image: url('../img/khan-api.png');
}

.logo-tinyquery {
    background-image: url('../img/tinyquery.png');
}

.content {
    position: absolute;
    z-index: 200;

    box-sizing: border-box;
    padding: 40px 25px;
    left: 120px;
    width: 310px;
    height: 100%;
}

.details {
    box-sizing: border-box;
    height: 70px;
    padding: 10px 20px;
    background-color: #f7f7f7;
}

.language {
    color: #aaa;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.title {
    font-family: 'proxima_nova_ltsemibold';
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: bold;
}

.title-long {
    font-size: 32px;
}

.updated {
    color: #ccc;
    min-height: 1.7em;
}

.description {
    line-height: 1.35;
    font-weight: 300;
}

.activity {
    z-index: 100;
    position: absolute;
    height: 120px;
    left: 0;
    right: 0;
    bottom: 0;
}

.bar {
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
}

@media (max-width: 915px) {
    .main {
        width: 100%;
    }

    .row {
        width: 440px;
        margin: 0 auto;
    }

    .card {
        margin-left: 0;
    }
}
