body {
    background-color: #eee;
    font-family: 'proxima_nova_rgregular';
}

.main {
    width: 900px;
    margin: 80px auto 30px;
}

.heading {
    margin-bottom: 60px;
}

.page-logo {
    display: block;
    width: 175px;
    height: 20px;
    margin: 0 auto;
    background-image: url('../img/ka-logo.png');
    background-size: contain;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    color: rgb(151, 174, 55);
    font-size: 2.25em;
    letter-spacing: 4px;
}

.row::before, .row::after,
.card::before, .card::after {
    display: table;
    content: "";
    line-height: 0;
}

.row::after, .card::after {
    clear: both;
}

.card {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 440px;
    height: 285px;
    margin-left: 20px;
    margin-bottom: 20px;

    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);

    background-color: #fff;
    overflow: hidden;
}

.card:first-child {
    margin-left: 0;
}

.icon {
    float: left;
    box-sizing: border-box;
    width: 95px;
    margin-left: 25px;
}

.logo {
    width: 95px;
    height: 95px;
    margin-top: 40px;
    border-radius: 50%;
    background-size: contain;
}

.logo-katex {
    background-image: url('../img/katex.png');
}

.logo-live-editor {
    background-image: url('../img/live-editor.png');
}

.logo-perseus {
    background-image: url('../img/perseus.png');
}

.logo-react-components {
    background-image: url('../img/react-components.png');
}

.logo-snippets {
    background-image: url('../img/snippets.png');
}

.logo-khan-api {
    background-image: url('../img/khan-api.png');
}

.logo-tinyquery {
    background-image: url('../img/tinyquery.png');
}

.content {
    position: absolute;
    z-index: 200;

    box-sizing: border-box;
    padding: 40px 25px;
    left: 120px;
    width: 310px;
    height: 100%;
}

.language {
    color: #aaa;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    font-family: 'proxima_nova_ltsemibold';
    font-size: 30px;
    font-weight: bold;
}

.title-long {
    font-size: 29px;
}

.updated {
    color: #ccc;
    min-height: 1.7em;
}

.description {
    line-height: 1.35;
    font-weight: 300;
    margin-bottom: 20px;
}

.actions {
    position: absolute;
    bottom: 40px;
    left: 25px;
    right: 25px;
}

.button {
    text-decoration: none;
    display: block;
    text-align: center;
    border: 2px solid rgb(151, 174, 55);
    color: rgb(151, 174, 55);
    border-radius: 5px;
    padding: 10px;
}


.button:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(151, 174, 55);
}

.activity {
    z-index: 100;
    position: absolute;
    height: 120px;
    left: 0;
    right: 0;
    bottom: 0;
}

.bar {
    background-color: #f9f9f9;
    position: absolute;
    bottom: 0;
}

.links {
    padding-left: 0;
    margin-top: 45px;
    text-align: center;
    display: block;
    list-style: none;
}

.link {
    padding: 0;
    display: inline-block;
    margin-left: 20px;
}

.link::before {
    content: "·";
    color: rgb(151, 174, 55);
    position: relative;
    left: -12px;
}

.link:first-child {
    margin-left: 0;
}

.link:first-child::before {
    content: "";
}

.link a {
    text-decoration: none;
    color: rgb(151, 174, 55);
}

.link a:hover {
    opacity: 0.6;
}

@media (max-width: 915px) {
    .main {
        width: 100%;
    }

    .row {
        width: 440px;
        margin: 0 auto;
    }

    .card {
        margin-left: 0;
    }
}
