body {
    background-color: #eee;
    font-family: 'Lato';
}

.main {
    width: 900px;
    margin: 30px auto 30px;
}

.heading {
    margin-bottom: 40px;
}

.page-logo {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    background-image: url('../img/ka-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.page-title {
    text-align: center;
    color: #21242c; /* Off-black */
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 0;
}

.row::before,
.row::after,
.card::before,
.card::after {
    display: table;
    content: "";
    line-height: 0;
}

.row::after,
.card::after {
    clear: both;
}

.card {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 440px;
    height: 285px;
    margin-left: 20px;
    margin-bottom: 20px;

    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);

    background-color: #fff;
    overflow: hidden;
}

.card:first-child {
    margin-left: 0;
}

.icon {
    float: left;
    box-sizing: border-box;
    width: 95px;
    margin-left: 25px;
}

.logo {
    width: 95px;
    height: 95px;
    margin-top: 40px;
    border-radius: 50%;
    background-size: contain;
}

.content {
    position: absolute;
    z-index: 200;

    box-sizing: border-box;
    padding: 40px 25px;
    left: 120px;
    width: 310px;
    height: 100%;
}

.language {
    color: #767676;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: bold;
}

.title-long {
    font-size: 29px;
}

.updated {
    color: #767676;
    min-height: 1.7em;
}

.description {
    line-height: 1.35;
    font-weight: 300;
    margin-bottom: 20px;
}

.actions {
    position: absolute;
    bottom: 40px;
    left: 25px;
    right: 25px;
}

.button {
    text-decoration: none;
    display: block;
    text-align: center;
    border: 2px solid #1865f2; /* Wonder Blocks blue */
    color: #1865f2; /* Wonder Blocks blue */
    border-radius: 5px;
    padding: 10px;
}


.button:hover,
.button:focus {
    cursor: pointer;
    color: #fff;
    background-color: #6b7f00;
}

.activity {
    z-index: 100;
    position: absolute;
    height: 120px;
    left: 0;
    right: 0;
    bottom: 0;
}

.bar {
    background-color: #eee;
    position: absolute;
    bottom: 0;
}

.links {
    padding-left: 0;
    margin-top: 45px;
    text-align: center;
    display: block;
    list-style: none;
}

.link {
    padding: 0;
    display: inline-block;
    margin-left: 20px;
}

.link::before {
    content: "·";
    color: #627400;
    position: relative;
    left: -12px;
}

.link:first-child {
    margin-left: 0;
}

.link:first-child::before {
    content: "";
}

.link a {
    text-decoration: none;
    color: #21242c; /* Off-black */
}

.link a:hover {
    opacity: 0.6;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media (max-width: 915px) {
    .main {
        width: 100%;
    }

    .row {
        width: 440px;
        margin: 0 auto;
    }

    .card {
        margin-left: 0;
    }
}
